<% include header %>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1><%= title %></h1>
              <p>Welcome to <%= title %></p>

    <p><%= valor %></p>

    <% if (condicion.estado) { %>
        <p><%= condicion.segundo %> es par </p>
    <% } else { %>
        <p><%= condicion.segundo %> es impar </p>
    <% } %>

    <% users.forEach(function(user){ %>
        <p><%= user.name + ' ' + user.age %><p>
    <% }) %>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
            </div>
          </div>
          
        </div>
      </div>
    </header>
    
    
  
<% include footer %>
